[2021-06-08 01:00] sylus opened #1 "Sealed Secrets"
The only real feedback I wanted to have a discussion about is the SealedSecrets functionality.

https://github.com/bitnami-labs/sealed-secrets

<img width="400" alt="Screen Shot 2021-06-07 at 8 38 50 PM" src="https://user-images.githubusercontent.com/984304/121106141-729f4700-c7d3-11eb-90fe-939396ef73db.png">

The only way to unencrypt the secret is via the master key:

[code]

How the sealed secr

[2021-06-08 01:05] sylus commented on #1
@blairdrummond @zachomedia

[2021-06-08 01:11] sylus commented on #1
I think this also prevents sharing of the specific generated branch since anyone trying to run it will need the controllers secret to properly decrypt rather then just invoking their own secrets.

Would be nice if argo can read from a central key store and then param replace them on the fly.

[2021-06-08 13:13] davidspek commented on #1
This will indeed prevent sharing of deployment branches. If you have a reason to want to export the Sealed Secret controller master key, you might not want to use sealed secrets. In terms of security I think the system is well designed and doesn't pose a risk anymore than another solution. For situations where you don't have access to Vault or something like AWS SSM, I think Sealed Secrets are the

[2021-06-08 14:19] zachomedia commented on #1
@sylus Thank you for all the amazing work on getting this working in our setup! For the secrets, I think it is best that we don't maintain secrets within the repository itself, whether encrypted or not. I don't have specific controls off the top of my head, but I am positive that it would be contrary to some ITSG-33 controls. I like the concept of it, but because we want the repository to be open

[2021-06-08 16:57] sylus commented on #1
@DavidSpek I think we would like to proceed with the https://github.com/IBM/argocd-vault-plugin route so for Kind we would also deploy a vault dev instance, then maybe have a bash script to populate the values.

This would then make it easy for our developers to run their own instance but against a common spec in feat-kind-release without worrying about secrets.

What do you think about this?

[2021-06-08 17:00] davidspek commented on #1
@sylus I believe the setup for the Argo CD plugin and External Secrets will be mostly the same. In both cases you will need a Vault instance setup and some variables to connect to it.

[2021-06-08 17:01] sylus commented on #1
Thanks @DavidSpek I'll try to take a look at this tonight :D

This is the only thing I think we need then once that is done I can go full on the Azure integration with Kind all done :D

[2021-08-05 14:02] wg102 opened #4 "[Epic] Update Argoflow-azure manifest"
This list are all the folders under kubeflow-manifest/kustomize
The task would be to check how we do it in our manifest, compare with the argoflow-azure.
And reproduce any customization or path we do.

- [x] #15
- [x] #11
- [x] #18
- [x] #12
- [x] #21
- [x] #7
- [x] #8
- [x] #9
- [x] #10
- [x] #22
- [x] #5
- [x] #13
- [x] #14
- [x] #19
- [x] #16
- [x] #17
- [x] #20
- [x] #35
- [x] #48

To verify:

[2021-08-05 16:16] wg102 opened #5 "application/seldon"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 16:17] wg102 opened #6 "application/spark-operator"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 16:18] wg102 commented on #5
Work done in https://github.com/StatCan/argoflow-azure/commit/cf0bc051dcba7e30a39c9cc5ad89307b3a91e598

[2021-08-05 21:15] wg102 opened #7 "application/centraldashboard"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:17] wg102 opened #8 "application/jupyter-web-app"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:17] wg102 opened #9 "application/jupyter-web-app/configs"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:17] wg102 opened #10 "application/notebook-controller"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:18] wg102 opened #11 "application/minio"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:18] wg102 opened #12 "application/pipeline"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:18] wg102 opened #13 "application/prob-notebook-controller"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:19] wg102 opened #14 "application/admission-webhook"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:19] wg102 opened #15 "application/argo"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:19] wg102 opened #16 "application/kubeflow-roles"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:19] wg102 opened #17 "application/metadata"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:20] wg102 opened #18 "application/mysql"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:20] wg102 opened #19 "application/profiles"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:20] wg102 opened #20 "Argoflow manifest verify namespaces"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

________
Adding details to this issue.
There is a folder named namespaces under https://github.com/StatCan/aaw-kubeflow-manifest/tree/master/kustomize/namespaces
We need to verify if this is still valid, and if we shou

[2021-08-05 21:21] wg102 opened #21 "Argoflow manifest - oidc-authservice"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:21] wg102 opened #22 "Argoflow manifest - metacontroller"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:23] wg102 opened #23 "Argoflow Manifest - application/katib"

[2021-08-05 21:23] wg102 opened #24 "Argoflow Manifest kfserving"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:24] wg102 opened #25 "Argoflow Manifest knative"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:24] wg102 opened #26 "Argoflow Manifest application/pytorch-job"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:24] wg102 opened #27 "Argoflow Manifest application/tf-training"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:24] wg102 opened #28 "Argoflow Manifest application/mxnet-job"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-05 21:25] wg102 opened #29 "Argoflow Manifest application/mpi-job"
Compare our manifest and kubeflow's, with careful checking for any customization.
Update the argoflow-azure applications in distribution
Test
Duplicate the changes in the template.

[2021-08-10 14:26] wg102 commented on #7
The disctibution folder currently point to [kubeflow's](https://github.com/kubeflow/kubeflow/tree/master/components/centraldashboard/manifests/overlays/istio) manifest directly.

I am not sure where the enable-refistration-flow.yaml patch comes from. does not seem to be centraldashboard.
It's in our manifest1.2/common/centraldashboard/base/deployment_patch.yaml

So are things about KFRAM_service_h

[2021-08-16 13:47] wg102 commented on #13
The following was done in [this commit](https://github.com/StatCan/argoflow-azure/commit/e453f97e08fd8c2d7a3acf254a791424d1055aa3):
1. Create prob-notebook-controller folder in distrubution/kubeflow/notebook
2. Create file distribution/kubeflow/notebooks/prob-notebook-controller/kustomization.yaml

3. Copy the 4 following files in it.
distribution/kubeflow/notebooks/prob-notebook-controller/cluste

[2021-08-16 14:31] wg102 commented on #13
@blairdrummond  please review this

[2021-08-16 19:36] wg102 commented on #7
Ready for review @blairdrummond

Initial commit : https://github.com/StatCan/argoflow-azure/commit/74ea526d6ed753585fac3e820973dfacd33c2d18
Aditional commmit : https://github.com/StatCan/argoflow-azure/commit/787ccefcebbc964be8cb24f0d24446bc778ab030
With seting the registration_flow value to true in this commit: https://github.com/StatCan/argoflow-azure/commit/e453f97e08fd8c2d7a3acf254a791424d1055

[2021-08-16 20:36] blairdrummond commented on #13
LGTM!

[2021-08-16 20:36] #13 closed, assigned to wg102

[2021-08-16 20:37] blairdrummond commented on #7
LGTM!

[2021-08-16 20:37] #7 closed, assigned to wg102

[2021-08-19 17:37] wg102 commented on #11
After some discussion with @blairdrummond Minio will be postponed, there are some decision needed to be done on how to handle the hardcoded secrets, the backing up of data, service mesh etc. A lot of differences between us, 1.2 and upstream.

[2021-08-25 15:12] wg102 commented on #8
Ready for review @blairdrummond
Initial commit: https://github.com/StatCan/aaw-argoflow-azure/commit/74ea526d6ed753585fac3e820973dfacd33c2d18
https://github.com/StatCan/aaw-argoflow-azure/commit/787ccefcebbc964be8cb24f0d24446bc778ab030
modification for prob-controller:  https://github.com/StatCan/aaw-argoflow-azure/commit/e453f97e08fd8c2d7a3acf254a791424d1055aa3

I compared the result between our

[2021-08-25 15:17] wg102 commented on #9
@blairdrummond
This seems to be basically a part of the https://github.com/StatCan/aaw-argoflow-azure/issues/8 since the files in configs folder is the spawner_ui_config.yaml and a ConfigMap for the kubeflow-userid.
That value is used by the istio-resources as well.

[2021-09-01 13:30] Jose-Matsuda commented on #14
Putting this here for posterity's sake.
After reviewing the difference between the 1.2 and 1.3 there are a couple differences, notably a possible merging of the kustomization file in v3 to the one under "base" <-- I think my mind saw the "commonLabels" and connected it to the 1.3 base.  However the 1.2 branch has the `v3`'s resources only had cert-manager and application.yaml under the resources.

[2021-09-01 13:33] Jose-Matsuda commented on #14
Also in our https://github.com/StatCan/aaw-kubeflow-manifest/blob/master/kustomize/application/admission-webhook/application.yaml we have `addownerref: False`

[2021-09-01 17:09] wg102 commented on #10
The notebook controller was more confusing than initially thought.
The easiest way to check it up will be testing if it works.

After trying to compare per file, and noticing that the file structure in manifest and 1.2-branch had been refactored for 1.3 and therefore many changes occured, it was suggested to do a `kustomize build` and compare the 'new' file and the 'old' one. The comparaison was d

[2021-09-01 17:19] wg102 commented on #10
The big changes:

- 1.3 does not have ENABLE_CULLING and similar which came from a deployment.yaml patch.
- As mentionned above, a newer image is used for notebook-controller. Version 1.3.0 we will need to confirm it behaves as expected with our other components
-

[2021-09-02 17:04] Jose-Matsuda commented on #14
If I try to point to both resources, I get App Health of "Healthy" but an error of
![image](https://user-images.githubusercontent.com/23174198/131886738-4525212f-dc22-4bdf-a3e5-17e98c07f543.png)

I have cert-manager first and then base in the kustomization under the resources.

[2021-09-03 19:17] wg102 commented on #10
There is an issue currently, I am not sure where it is coming from, be it the notebook-controller, jupyter-apis or maybe (but not likely) central-dashboard.
Notebooks can be create. But when (on the UI), trying to delete a notebook is not working well.
The Pod gets to terminating, then deleted, but it then starts back on initialisation.
The notebook never actually gets deleted.

It might have some

[2021-09-07 14:08] wg102 commented on #5
Seldon was successfully done in the commit mentionned above.
One thing to note is that the application, on Argo-CD is Healthy but out of Sync.
Further investigation revealed that it was out of sync because of the Certicate (in base64 encoding), it was visible in the Manifest difference in Argo-CD.

Since certificates change quite often, this is not an issue currently, just something to keep an eye

[2021-09-07 14:08] wg102 commented on #5
@blairdrummond can you review this please?

[2021-09-07 15:43] Jose-Matsuda commented on #14
Pointing to just `overlays` has a reasonable "out of sync" issue of the mutating webhook changing what's on the deployment, vs whats on the git repo. (It says synced but it's really not)
![image](https://user-images.githubusercontent.com/23174198/132373425-a6b5ca4a-7168-488f-8d25-1d88f78e66aa.png)

Have argocd configured to ignore this.

Having said that a _**LOT**_ of resources seem to be running

[2021-09-08 17:39] wg102 commented on #10
After some additional testing, the notebook-controller started behaving normally. I am unable to track when it did, but deleting jupyter-web-app in it's integrality and waiting for it to restart seemed good.
The tag used for notebook-controller is 1.3rc1.0, the reason it's not 1.3 is that  from a comment, they are the same ( see https://github.com/kubeflow/kubeflow/commit/0e91a2b9cd0c3b6687692b1f1

[2021-09-08 18:45] rohank07 commented on #8
Tested: Created and deleted notebook server successfully.

[2021-09-08 19:33] rohank07 commented on #10
Tested:  Notebook is deleted and pod is terminated.

[2021-09-09 13:07] #10 closed, assigned to wg102

[2021-09-09 13:08] #8 closed, assigned to wg102

[2021-09-09 13:08] #9 closed, assigned to nobody

[2021-09-15 22:47] rohank07 commented on #5
Tested Seldon CRD [Christian's example](https://github.com/chritter/argo_seldon_deployments/tree/master/getting-started) argo_app.yaml.

Successful output from ` kubectl port-forward services/iris-model-default 9000:8000 -n seldon-system`

![Screenshot from 2021-09-15 18-42-56](https://user-images.githubusercontent.com/28408586/133519545-fa45e2bd-cf57-44c6-a03a-eb9f83c1e096.png)
Scaled to 2 pods.

[2021-09-16 12:45] #5 closed, assigned to wg102

[2021-09-20 14:17] #16 closed, assigned to rohank07

[2021-09-20 14:18] #19 closed, assigned to rohank07

[2021-09-21 02:53] Jose-Matsuda commented on #14
I went digging in the issues of [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/issues?q=poddefaults+application) as well as the kubeflow/manifest repos and only really found [this](https://github.com/kubeflow/kubeflow/pull/5719/files) where application.yaml was deleted.
In the issue/conversation they also mention the following,
![image](https://user-images.githubusercontent.com/23174198/

[2021-09-21 13:54] Jose-Matsuda commented on #14
Doing a test WITH pod-defaults still kicking (in argocd)
![image](https://user-images.githubusercontent.com/23174198/134183814-3121ba35-90fb-49ec-8453-4b07b062197e.png)

WITHOUT
![image](https://user-images.githubusercontent.com/23174198/134183756-86c4fba0-bdc1-44f4-9192-ba9933693bbf.png)

[2021-09-21 17:00] wg102 commented on #12
The changes is to use our own version of the pipelines. This version just got updated because of a vulnerability as well, and fix the issue with the internationalization not finding the source files for en and fr. See https://github.com/StatCan/kubeflow-pipelines/issues/12 for the details

[2021-09-21 17:22] Jose-Matsuda commented on #14
Closing after confirming that poddefaults was indeed admission-webhook, as well as going through the changes mentioned by upstream [here](https://github.com/kubeflow/kubeflow/pull/5719/files), also contains in the discussion area the removal of `application`

[2021-09-21 17:22] #14 closed, assigned to Jose-Matsuda

[2021-09-21 18:42] wg102 commented on #12
I am getting an issue where the application app Health keeps switching between _Healthy_ and _Progressing_ and therefore the pipelines between showing up as expected and "No healthy upstream". I am unsure if it's just something that takes extra time (20 min and still ongoing issue), or an actual problem that something is not set correctly

[2021-09-23 17:10] Jose-Matsuda commented on #18
https://github.com/kubeflow/manifests/tree/v1.2-branch/pipeline/mysql --> under installs/generic for what we use currently.
https://github.com/kubeflow/manifests/tree/v1.3-branch/apps/pipeline/upstream/third-party/mysql --> 1.3 in manifests
which is basically https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/third-party in kubeflow/pipelines

[2021-09-23 20:17] Jose-Matsuda commented on #18
1.2 installs/generic references [platform-agnostic](https://github.com/kubeflow/manifests/blob/v1.2-branch/pipeline/upstream/env/platform-agnostic/mysql/kustomization.yaml) which is mostly the same as what is in 1.3 [here](https://github.com/kubeflow/manifests/blob/v1.3-branch/apps/pipeline/upstream/third-party/mysql/base/kustomization.yaml) except 1.3 now has a ServiceAccount.

Some more informat

[2021-09-24 14:06] wg102 commented on #15
Here is where i found the argo :
- Upstream in pipelines: manifests/kustomize/third-party/argo
- manifest:kfp-tekton/upstream/third-party/argo
- manifest/apps/pipeline/upstream/cluster-scoped-resources/third-party/argo/installs/namespace/cluster-scoped (and many similar)
- manifest/apps/pipeline/upstream/third-party/argo

- and upstream **pipelines/third_party/argo**

[2021-09-24 14:07] wg102 commented on #15
Things to add:
kubeflow-manifest/kustomize/application/argo
There are 3 patches + kustomization file

[2021-09-24 14:16] rohank07 commented on #11
Pipelines deployment files include minio manifests:
https://github.com/kubeflow/pipelines/blob/1.6.0/manifests/kustomize/env/platform-agnostic-multi-user/kustomization.yaml
Manifests already deployed in pipelines:
https://github.com/kubeflow/pipelines/tree/1.6.0/manifests/kustomize/third-party/minio/base

1 patch to be added: minio-pvc.yaml

[2021-09-24 17:55] rohank07 commented on #11
*Update no need to add patch persistent-volume-claim.yaml.
Argoflow.py  initializes the size to 200 Gi already using an env variable `minio.size`

[2021-09-24 18:19] rohank07 commented on #22
No patches for metacontroller in
https://github.com/StatCan/aaw-kubeflow-manifest/blob/399a615fc49d4b30f7124924eefcb0389fc1ad22/kustomize/metacontroller/kustomization.yaml
It can reference upstream tag 1.6.0

[2021-09-27 13:01] rohank07 opened #34 "Add Cron.yaml"
Add cron job to distribution/kubeflow/pipelines from https://github.com/StatCan/aaw-kubeflow-manifest/blob/master/.github/workflows/cron.yml

[2021-09-27 13:15] Jose-Matsuda commented on #34
Came up because the number of nodes maxed out on prod. Previously we had a cronjob to clean up old argo workflow runs (the one linked by Rohan above)

[2021-09-27 17:31] wg102 opened #35 "ArgoCD - Downgrade Istio"
We want to be as aligned as possible with the istio version.
Istio 1.5 is what is used for kubeflow 1.2.
There is some discusssion about how to process to upgrade versions : https://github.com/kubeflow/kubeflow/issues/5176#issuecomment-725363913

We need to decide which version to use. According to documentation, anything above 1.4 (So it includes authorization Policies) would be ok.

[2021-09-27 19:37] wg102 commented on #15
This is getting a lot harder than planned. The code would not build.
It was decided that since all argo files are now part of the pipelines, we would put the patches under /kubeflow/pipellines/argo.

Once that was done, each of the file needed to be tracked to where it is now.
cluster-role -> [workflow-controller-clusterrole.yaml](https://github.com/kubeflow/pipelines/blob/v1.7.0-alpha.3/manifests

[2021-09-29 13:04] Jose-Matsuda commented on #18
Upon inspection in the pipelines deployment manifest we already do have mysql brought in as seen in
https://github.com/kubeflow/pipelines/blob/1.6.0/manifests/kustomize/env/platform-agnostic-multi-user/kustomization.yaml#L9 and there are no patches on our end.

We just need to review pipelines and ensure it works.

[2021-10-01 15:09] rohank07 commented on #11
Linking to the PR #32 as the issue that brings this one together.
and the issue #12

[2021-10-01 15:10] rohank07 commented on #22
Linking to the PR #32 as the issue that brings this one together.
and the issue #12

[2021-10-04 18:58] Jose-Matsuda commented on #18
Linking to the PR https://github.com/StatCan/aaw-argoflow-azure/pull/32 as the issue that brings this one together.
and the issue https://github.com/StatCan/aaw-argoflow-azure/issues/12

[2021-10-04 19:04] wg102 commented on #15
After a chat with the team, we discovered that the argo patches may not be as useful anymore.
We came to this conclusion that the argo was deployed within pipelines, therefore the two issues are linked together https://github.com/StatCan/aaw-argoflow-azure/issues/12. The patches triggered issues that were not able to fix and after review, may not be needed.

As of now, there will not be argo patch

[2021-10-04 19:30] rohank07 commented on #12
Successfully tested pipelines locally, creating an experiment using the demo pipelines. At the moment we are unable to test creating pipelines from jupyter-notebooks. Additionally there seems to be a Request Header error which we believe is because our testing environment cuts a lot of corners when compared to dev/prod. This is another reason which suggests that we should just try to test on dev.

[2021-10-04 20:02] #12 closed, assigned to wg102

[2021-10-04 20:03] #18 closed, assigned to Jose-Matsuda

[2021-10-04 20:03] #22 closed, assigned to rohank07

[2021-10-04 20:04] #11 closed, assigned to rohank07

[2021-10-04 20:04] #15 closed, assigned to wg102

[2021-10-05 15:51] rohank07 commented on #35
Downgraded istio-operator to 1.7.0 but Istio-resources fails to sync kubeflow-userid & kubeflow-gateway... "the server could not find the requested resource"

[2021-10-05 17:34] rohank07 commented on #34
Version 1.18 of kubernetes uses apiversion: batch/v1beta1. A newer stable version 1.21 uses apiversion: batch/v1. Once we update to 1.21 we should also update the apiversion.

UPDATE: Changed to v1beta

[2021-10-07 19:21] rohank07 commented on #17
Metadata is already deployed in pipelines. There are no patches on aaw-kubeflow-manifest.
https://github.com/StatCan/aaw-kubeflow-manifest/blob/master/kustomize/application/metadata/kustomization.yaml
![image](https://user-images.githubusercontent.com/28408586/136448658-eb055603-f64e-4f4a-82d6-94304c285072.png)

[2021-10-07 19:21] rohank07 commented on #17
Linking to the PR #32 as the issue that brings this one together.
and the issue #12

[2021-10-07 19:26] #17 closed, assigned to rohank07

[2021-10-07 19:43] Jose-Matsuda commented on #21
Ok first thing I do is figure out what https://github.com/StatCan/aaw-argoflow-azure/tree/manifest-rebase/distribution/oidc-auth/base this is and compare to what they have in kubeflow/manifests 1.3  [branch](https://github.com/kubeflow/manifests/tree/v1.3-branch/common/oidc-authservice/overlays/ibm-storage-config). If I confirm that this is the same THEN I look at moving from 1.2 (what we have [he

[2021-10-12 15:26] Jose-Matsuda commented on #21
These 3
![image](https://user-images.githubusercontent.com/23174198/136984756-4bdadcf2-e7a8-4df4-bf25-4aebe14d2b06.png)
point to their respective resources under https://github.com/StatCan/aaw-argoflow-azure/tree/manifest-rebase/distribution/oidc-auth

The 3 files under argocd-applications are the same aside from the path, and the `keycloak` and `dex` have a `namespace: auth` under `spec/destinati

[2021-10-12 18:48] Jose-Matsuda commented on #21
## IMPORTANT
Replying in specific to this one

I now think we need to actually use the one under `manifests/common/oidc-authservice/base` because
A) The docs reference this version.
B) Following the path that we use of `../../.cache/manifests/manifests-1.2-branch/stacks/azure/application/oidc-authservice` when you look in the kustomize under that path, it references `../../../../istio/oidc-authser

[2021-10-13 17:30] Jose-Matsuda commented on #21
The first notable difference that I ran into is in the `statefulset.yaml`
Where ours differs from upstream at line 25 where they use envFrom instead of just env
A little breakdown of the differences at each line is
[code]

So if we want to, we can copy their use of fromEnv but replace in our configmap.yaml our specific settings so that there's only one place to look for them.

[2021-10-14 19:19] Jose-Matsuda commented on #21
Ok after getting the correct reference I now get something forever out of sync
![image](https://user-images.githubusercontent.com/23174198/137388983-490d5251-7ef6-4c2c-b140-5bc2e077b33d.png)
where it is like this for all the resources
![image](https://user-images.githubusercontent.com/23174198/137389012-326aece7-3cd1-4bb1-8cca-1f8d5e7086f7.png)

Found these
![image](https://user-images.githubuserc

[2021-10-15 14:16] Jose-Matsuda commented on #21
New comment because actual progress
![image](https://user-images.githubusercontent.com/23174198/137501782-fec01d69-9eaf-492e-8395-b5ee1b8714a0.png)
![image](https://user-images.githubusercontent.com/23174198/137501812-2dfefc39-3cc4-472a-a4e4-9ea07875c474.png)

It seems like there was some kind of issue in the indenting in the envoy-filter from 1.3, why that is I don't know but indenting this block

[2021-10-15 15:16] Jose-Matsuda commented on #21
The pod seems unhealthy even after kind loading the image but I'll look into the above error first
![image](https://user-images.githubusercontent.com/23174198/137511640-bf44a2a5-47cb-40a3-a7d0-70d338e78d60.png)

I think its because of `imagePullSecrets` on line 37 and 38.

I will test what will happen if I comment out that `imagePullSecrets` line, if it passes great. I will just need to figure out

[2021-10-19 18:57] Jose-Matsuda commented on #21
For resource specific and change specific comments please refer to the PR https://github.com/StatCan/aaw-argoflow-azure/pull/37 as I will be leaving comments there.

[2021-10-19 20:29] #21 closed, assigned to Jose-Matsuda

[2021-10-20 12:57] Jose-Matsuda commented on #24
Renamed to https://github.com/kserve/kserve

It seems like Blair has already brought these in so we need to verify them.

Ours
https://github.com/StatCan/aaw-kubeflow-manifest/tree/master/kustomize/kfserving

And checking [1.3](https://github.com/kubeflow/manifests/tree/v1.3-branch/apps/kfserving/upstream/overlays/kubeflow) with [kserve 0.5 as deployed by Blair already](https://github.com/kserve/k

[2021-10-20 13:02] Jose-Matsuda commented on #25
Blair seems to have put this in already so we just need to verify that it works / check it over

[2021-10-20 13:11] Jose-Matsuda commented on #6
1.2
https://github.com/kubeflow/manifests/blob/v1.2-branch/stacks/azure/application/spark-operator/kustomization.yaml which leads to
https://github.com/kubeflow/manifests/tree/v1.2-branch/spark/spark-operator

1.3
https://github.com/kubeflow/manifests/tree/v1.3-branch/contrib/spark/spark-operator

Looking at the two they are exactly the same

[2021-10-20 13:17] Jose-Matsuda commented on #26
Ours
https://github.com/StatCan/aaw-kubeflow-manifest/blob/master/kustomize/application/pytorch-job/kustomization.yaml

1.2
https://github.com/kubeflow/manifests/tree/v1.2-branch/pytorch-job

1.3

https://github.com/kubeflow/manifests/tree/v1.3.0/apps/pytorch-job

And good reading might be
https://github.com/kubeflow/pytorch-operator#installing-pytorch-operator where it does say that this installs

[2021-10-20 13:19] Jose-Matsuda commented on #27
Ours
https://github.com/StatCan/aaw-kubeflow-manifest/blob/master/kustomize/application/tf-training/kustomization.yaml

1.2
https://github.com/kubeflow/manifests/tree/v1.2-branch/tf-training

1.3
https://github.com/kubeflow/manifests/tree/v1.3.0/apps/tf-training

Seems to be in a similar position to pytorch as in the install also looks at the standalone
https://github.com/kubeflow/training-operato

[2021-10-20 13:24] Jose-Matsuda commented on #28
Ours
https://github.com/StatCan/aaw-kubeflow-manifest/tree/master/kustomize/application/mxnet-job

1.2
https://github.com/kubeflow/manifests/tree/v1.2-branch/mxnet-job/mxnet-operator/overlays/application

1.3
https://github.com/kubeflow/manifests/tree/v1.3.0/apps/mxnet-job

Seems a bit different but we will see

[2021-10-20 20:04] Jose-Matsuda commented on #20
Ours
https://github.com/StatCan/aaw-kubeflow-manifest/tree/master/kustomize/namespaces

1.2
https://github.com/kubeflow/manifests/tree/v1.2-branch/namespaces/base

1.3
https://github.com/kubeflow/manifests/blob/v1.3-branch/common/kubeflow-namespace/base/namespace.yaml

[2021-10-20 22:40] rohank07 commented on #34
closes https://github.com/StatCan/aaw-argocd-manifests/pull/9

[2021-10-21 19:59] rohank07 commented on #34
To run a cron job dealing with argo cli workflow; I had to install argoflow workflows on the kind cluster. `kubectl create ns argo
kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml`

Cronjob uses argoproj/argocli:latest to execute argo workflow commands.

Need a ClusterRole and ClusterRolebinding to delete at cluster level

[2021-10-21 21:42] rohank07 commented on #26
Pytorch-operator was already deployed. Kubeflow/manifest branch  v1.3 was missing pytorch-job-crds (existed on v1.2). It does not exist anymore in v1.3 kubeflow/manifest and v0.7 in kubeflow/pytorch-operator.

[2021-10-21 22:55] rohank07 commented on #26
ReadMe includes how to deploy pytorch job https://github.com/kubeflow/pytorch-operator#installing-pytorch-operator

[2021-10-22 13:09] wg102 commented on #35
Just updating the number in the istio-operator file is not enought, as mentionned in a previous comment. We started to look more into the structure of the Gateway kind of file, and the EnvoyFilter, for 1.7 specifically
- https://istio.io/v1.7/docs/reference/config/networking/envoy-filter/
- https://istio.io/v1.7/docs/reference/config/networking/gateway/
a few things are different such as apiVersio

[2021-10-22 13:18] rohank07 commented on #25
Knative already deployed to argo.

aaw-kubeflow-manifest (ours)
https://github.com/StatCan/aaw-kubeflow-manifest/blob/master/kustomize/knative/kustomization.yaml

v1.2
https://github.com/kubeflow/manifests/blob/v1.2.0/knative/installs/generic/kustomization.yaml

v1.3
https://github.com/kubeflow/manifests/tree/v1.3-branch/common/knative/knative-serving/base/upstream

Eventing also deployed (optiona

[2021-10-22 16:05] rohank07 commented on #35
![image](https://user-images.githubusercontent.com/28408586/138487302-3a3e6dfa-5846-4e22-beb9-176a4a2d57bb.png)

Istio v1.7.0 does not support kubernetes v1.22.1
Also, to note Istio v1.10.0 does not support kubernetes (tested, but not supported) v1.22.1

https://istio.io/latest/docs/releases/supported-releases/#support-status-of-istio-releases

kind cluster
![image](https://user-images.githubuserc

[2021-10-22 17:02] rohank07 commented on #35
Production cluster aaw-prod-cc-00-aks kubernetes client version 1.21 server version 1.19

[2021-10-22 18:57] #34 closed, assigned to Jose-Matsuda, rohank07

[2021-10-25 13:45] rohank07 commented on #27
tf-training already deployed, verified deploying in to argo-CD. Application synced and healthy.

[2021-10-25 14:39] Jose-Matsuda commented on #20
Both namespace and cert manager seem to be deployed and healthy. Will just apply the patch and check if it works

[2021-10-25 14:47] Jose-Matsuda commented on #20
In the patch it removes the control-plane label and I have added the label `katib-metricscollector-injection` to this list of labels to remove as I do not know what it is for.

After running and deploying it seems to be good

[2021-10-25 17:45] Jose-Matsuda commented on #27
for some reason didnt close

[2021-10-25 17:45] #27 closed, assigned to rohank07

[2021-10-26 13:22] Jose-Matsuda commented on #20
Closing (as completed)

[2021-10-26 13:22] #20 closed, assigned to Jose-Matsuda

[2021-10-26 14:09] wg102 commented on #23
We may need to bring this in even if it is not i18n yet. The agreement was to not remove it.

[2021-10-26 14:15] wg102 commented on #4
The second priority items will be commented out for now. To keep only the minimal version possible.

[2021-10-26 14:15] Jose-Matsuda commented on #28
May leave this for now. Minimize work to deploy as not necessarily being used at the moment. Will  leave everything in but in commented form.

[2021-10-26 14:16] Jose-Matsuda commented on #29
May leave this for now. Minimize work to deploy as not necessarily being used at the moment. Will  leave everything in but in commented form.

[2021-10-26 14:42] rohank07 commented on #6
May leave this for now. Minimize work to deploy as not necessarily being used at the moment. Will leave everything in but in commented form. Commenting out Spark-operator (backlog). Decided not to bring in everything from second-priority (deploy minimal product).

Spark operator not syncing; [upstream](https://github.com/kubeflow/manifests/blob/v1.3-branch/contrib/spark/spark-operator/overlays/app

[2021-10-26 14:43] rohank07 commented on #26
May leave this for now. Minimize work to deploy as not necessarily being used at the moment. Will leave everything in but in commented form.

[2021-10-26 14:43] rohank07 commented on #27
May leave this for now. Minimize work to deploy as not necessarily being used at the moment. Will leave everything in but in commented form.

[2021-10-26 17:14] Jose-Matsuda commented on #24
Stays healthy and then dies
![image](https://user-images.githubusercontent.com/23174198/138928141-41d85b6f-2fdc-49cc-a5b5-52d753e5b4c8.png)

Healthy state
![image](https://user-images.githubusercontent.com/23174198/138928188-5c102e0c-b3fb-4a82-9f05-54858e3c3a02.png)

Error
![image](https://user-images.githubusercontent.com/23174198/138928268-8aa59b46-d156-4b6e-89d6-c8683b543078.png)

[2021-10-26 17:25] Jose-Matsuda commented on #24
The logs are
# RBAC image
[code]
# kfserving-controller image
[code]

[2021-10-26 17:54] Jose-Matsuda commented on #24
The important one is
`{"level":"error","ts":1635268772.155392,"logger":"controller-runtime.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":"Service.serving.knative.dev","error":"no matches for kind \"Service\" in version \"serving.knative.dev/v1\"",`

Upon searching for that `kind` it indeed does not appear on our local deployment.

But performing `kubectl api-

[2021-10-26 18:17] #25 closed, assigned to rohank07

[2021-10-26 18:39] #26 closed, assigned to rohank07

[2021-10-27 13:20] #28 closed, assigned to rohank07

[2021-10-27 13:36] rohank07 commented on #29
![image](https://user-images.githubusercontent.com/28408586/139074792-783858f5-2d17-47ba-8bf4-d7c955cd0b1c.png)
![image](https://user-images.githubusercontent.com/28408586/139076714-47400fa3-62c3-4e5c-8551-798a83e24d63.png)

Pod fails `Back-off restarting failed container`. Since this is second-priority, we wiil revisit this and focus on other priority deployments for the time being.

[2021-10-27 13:56] Jose-Matsuda commented on #24
Ok I'm just dumb I was looking for the custom resource in kfserving and not **knative**

Looking in kubeflow manifests 1.3 I can find this CRD [here](https://github.com/kubeflow/manifests/blob/v1.3-branch/common/knative/knative-serving/base/upstream/serving-core.yaml#L1907)

We  currently don't have knative set up _just yet_ in this repo so may want to get that up and going first before this one a

[2021-10-27 15:03] rohank07 commented on #35
![image](https://user-images.githubusercontent.com/28408586/139092083-ff9ce004-6c8b-49c0-9632-b0c79816a374.png)

istio-operator pod log output

[2021-10-28 12:56] rohank07 commented on #23
old (aaw-kubeflow-mainfests)
https://github.com/StatCan/aaw-kubeflow-manifest/tree/master/kustomize/application/katib
1.2
https://github.com/kubeflow/manifests/tree/v1.2-branch/katib/installs/katib-standalone
1.3
https://github.com/kubeflow/katib/tree/release-0.11/manifests/v1beta1/installs/katib-with-kubeflow

[2021-10-28 19:53] Jose-Matsuda commented on #24
After bringing in knative decided to test and behold
![image](https://user-images.githubusercontent.com/23174198/139325839-989a9ecb-bba7-4312-b399-f6d6400db402.png)
~~the ark of the covenant~~

[2021-10-28 19:53] #24 closed, assigned to Jose-Matsuda

[2021-10-29 13:05] #6 closed, assigned to rohank07

[2021-10-29 14:24] rohank07 commented on #23
Upgrading Katib to [Katib v0.12.0](https://github.com/kubeflow/katib/releases/tag/v0.12.0)

Issues using v0.11.0 in [katib-mysql](https://github.com/kubeflow/katib/blob/v0.11.0/manifests/v1beta1/components/mysql/mysql.yaml)
![image](https://user-images.githubusercontent.com/28408586/139453110-b41f5ea5-ecd4-4fd9-a6b7-418376bf84e1.png)
![image](https://user-images.githubusercontent.com/28408586/1394

[2021-10-29 17:44] rohank07 opened #47 "[Epic] Argoflow-azure manifest Second Priority"
This is the second priority argoflow manifests that are commented out. Minimize the apps needed to deploy as not necessarily being used at the moment. When we want to bring them into dev simply uncomment. (All except #29 tested and synced successfully) Items can be checked off once app is uncommented from `distribution/kustomization.yaml`

Second priority
- [ ] #26
- [ ] #6
- [ ] #27
- [ ] #28
- [

[2021-10-29 18:49] #35 closed, assigned to wg102, rohank07

[2021-11-01 18:20] Jose-Matsuda opened #48 "Fix up OIDC-Auth"
An issue came up when trying to sync up OIDC-Auth of
![image](https://user-images.githubusercontent.com/23174198/139721191-6a651f3d-9fc2-44c4-9725-8de8a0575447.png)

Need to create a symlink to a file under some .gitignore'd folder for the secrets.

Also have to add
![image](https://user-images.githubusercontent.com/23174198/139721521-c65d5623-32ca-49cf-9f9b-e90a9a95b78f.png)
to the configmap patc

[2021-11-02 15:12] #48 closed, assigned to wg102, Jose-Matsuda, rohank07

[2021-11-02 15:12] #23 closed, assigned to rohank07

[2021-11-18 15:08] blairdrummond opened #51 "Create Developer Overlay for smaller VMs"
As discussed the other day, we should make `template` the main folder, and have a kustomize overlay for developer settings (like reducing the PVC sizes and such)

@wg102 feel free to re-assign this issue

[2021-11-26 13:55] wg102 commented on #4
All items in this have been dealt with. The second priorities are part of another issue. See https://github.com/StatCan/aaw-argoflow-azure/issues/47

[2021-11-26 13:55] #4 closed, assigned to nobody

[2021-11-26 14:54] wg102 opened #52 "[Epic] Argocd to Dev"
This epic is to describe how to do to migrate argocd to the dev environment. How we plan on deploying it, test it, which applications will be transfered and are therefore not handled by the cloud team. Etc.

Note: The current issues referenced are the work that was done. Not the future issues to do to incorporate said work into the manifest.

# Rollout
The idea would be to do it in waves. The firs

[2022-01-17 19:06] rohank07 commented on #52
Closing this Epic: New & updated epic created here https://github.com/StatCan/aaw-kubeflow-manifests/issues/111

[2022-01-17 19:06] #52 closed, assigned to nobody

[2022-01-26 13:19] #47 closed, assigned to nobody

[2022-01-26 13:19] #29 closed, assigned to rohank07